<%= link_to "back to calendar", goals_path %>

<div>
<ul>
    <% @goals.each do |goal| %>
    <li><%= link_to goal.name, goals_path(goal) %></li>
    <% end %>
</ul>

<%= link_to "Add a new goal", goals_new_path %>
</div>