<h1>Your new daily goal</h1>

<div>
    <%= form_for(@goal) do |x| %>

        <%= x.label :name %>
        <%= x.text_field :name, :placeholder => "add a description" %>

        <%= x.submit "submit" %>
    <% end %>
</div>